book

# Prevent Vim swap files from making `mdbook serve` regenerate HTML frequently.
*.sw*

# Also `diff` files, which I generate a lot.
diff

# Rust build artifacts from examples
examples/*/target/
examples/*/Cargo.lock
